@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e0e7f5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Layout 컴포넌트의 배경색도 body와 일치시키기 위해*/
.ant-layout {
  background: transparent !important;
}