spring:
  datasource:
    url: jdbc:h2:mem:letzcollabdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create

  mail:
    properties:
      mail:
        debug: true