version: '3.8'

services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: always
    ports:
      - "1025:1025" # SMTP 서버 포트 (스프링이 메일을 보내는 곳)
      - "8025:8025" # 웹 UI 포트